<% title(t('users.change_password')) %>
<%= profile_menu %>
<div id='state'></div>
<% form_remote_for(:change_password,
  :url => { :controller => 'users', :action => 'save_password', :id => current_user},
  :position => "top" ) do %>
  <!--[form:users]-->
  <h1><%= yield(:title) %></h1>
  <table class="fleft" >
    <tr><td><%= t('users.old_password') -%></td>
      <td><input type="password"  size="15" name="users[password]" value="<%=@users[:password] if @users %>"/></td></tr>
    <tr><td><%= t('users.new_password') -%></td>
      <td><input type="password"  size="15" name="users[new_password]" value="<%=@users[:new_password] if @users%>"/></td></tr>
    <tr><td><%= t('users.confirmation_password') -%></td>
      <td><input type="password"  size="15" name="users[re_password]" value="<%@users[:re_password]  if @users%>"/></td></tr>
    <tr><td colspan="2"><%= submit_tag t('general.send'), :disable_with => t('general.loading') -%></td></tr>
  </table>
  <!--[eoform:users]-->
<% end %>
