<h1>New camera_brand</h1>

<% form_for(@camera_brand) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= submit_tag "Create", :disable_with => 'Загрузка'  %>
  </p>
<% end %>

<%= link_to 'Back', camera_brands_path %>
