<%= error_messages_for :wiki, :head_message => 'Возникли ошибки при работе с сообщением.',
  :message => 'Для продолжения исправьте следующие ошибки.'%>
<dl class="table">
  <dt>Тема</dt>
  <dd><%= text_field :wiki, :title, :size => 60, :style => 'width: 520px' %></dd>
  <dt>Статья</dt>
  <dd><%= fckeditor_textarea(:wiki, :message, :toolbarSet => 'Simple', :width => '520px', :height => '400px') %></dd>
  <dt><%= t('general.tags_word') %></dt>
  <dd><%= text_field(:wiki, :tag_list, :value => @wiki.tag_list, :size => 60, :style => 'width: 520px', :rel => 'tag') %></dd>

  <% unless @wiki.attachments.empty? -%>
    <dt>Удалить файлы:</dt>
    <dd>
      <% @wiki.attachments.each do |attach| -%>
        <div id='attach_<%= attach.id %>' class="small">
          <%= attach.title + ' '+link_to_remote('',
            :url => {:controller => 'attachments', :action => 'destroy', :id => attach},
            :method => :delete, :html => {:class => 'ico ico-cancel', :title => 'Удалить файл'}) %><br/>
        </div>
      <% end -%>
    </dd>
  <% end -%>

  <dt>Добавить файлы: <div class="small g">max file size: 2mb</div></dt>
<dd class="l" id="attach">
  <%= javascript_tag("var num=0; function attach_file(block){ ++num;
  $(block).after('<input type=\"file\" size=\"30\" name=\"file[img'+num+']\"  class=\"block\"/>'); }")%>
  <%= link_to_function "Прикрепить файл", "attach_file('#msg_files');"%>
  <div id="msg_files" style="display: none;" />
</dd>
</dl>



