<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" lang="ru" content="<%= yield(:keywords) %>" />
    <meta name="description" lang="ru" content="<%= yield(:description) %>" />
    <meta name="author" lang="en" content="<%= APP_CONFIG['author'] %>" />
    <meta name="Document-state" content ="Dynamic" />
    <meta name="robots" content="index,follow" />
    <meta name="Revisit" content="1" />
    <link rel="shortcut icon" href="/ico.gif" type="image/gif" />
    <meta name="google-site-verification" content="<%=  APP_CONFIG['google_verify'][APP_CONFIG['domain']] %>" />
<%#= javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.7.2.custom.min', 'jquery.tools.min', 'jrails', 'application' -%>
    <%= include_stylesheets :common, :media => 'all' %>
    <%= rss_include(controller.controller_name) %>
    <%= include_javascripts :workspace %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render :partial=>'layouts/head' %>
    <div class="container">
      <!--page-->
      <div id="page">
        <!--flash and notice-->
        <%= flash_and_find(flash, controller.controller_name) %>
        <%= yield %>
        <%= content_tag(:div, '', :id => 'footnotes_holder') if Rails.env.eql?('development') %>
        <br class="clear"/>
      </div>
    </div>
    <%= slide_block %>
    <%= footer(controller.controller_name) %>
    <div class="c"><%= google_analytics if Rails.env.production?%></div>
  </body>
</html>
